<header id="header">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">      
      <%= link_to 'Souce Code', root_path %>
    </h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>

        <li class="dropdown">
        	<%= link_to 'Profile', 'javascript:void(0);' %>        	
          <ul>            
            <li>
            	<%= link_to 'Edit Profile', edit_user_path(current_user.slug) %>            	
            </li>            
            <li><a href="#">Logout</a></li>
          </ul>
        </li>        
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>